/* 캘린더 전체 스타일 */
.react-calendar {
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  font-family: "Arial", sans-serif;
}

/* 네비게이션 바 스타일 */
.react-calendar__navigation {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.react-calendar__navigation button {
  font-weight: bold;
  color: white;
}

.react-calendar__tile:hover {
  background-color: #ffffff;
}

.react-calendar__tile--active {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-radius: 5px;
}

.react-calendar button {
  border-bottom: 1px solid #efefef;
}

/* 날짜 타일 스타일 */
.react-calendar__tile {
  width: 45.71px;
  height: 72px;
  color: #000000;
  font-weight: 600;
  font-size: 12px;
  line-height: 16.8px;
  transition: 0.3s;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: rgba(0, 0, 0, 0);
}

/* 오늘 날짜 */
.react-calendar__tile--now {
  background-color: white;
  color: #333;
  font-weight: bold;
}
